@import url('https://fonts.cdnfonts.com/css/monument-extended');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-heading: var(--font-heading);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --radius-2xl: 1rem;
  --radius-xl: 0.75rem;
  --radius-lg: 0.5rem;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --card: #fcfcfc;
  --card-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --primary: #000000;
  --primary-foreground: #ffffff;
  --secondary: #f4f4f5;
  --secondary-foreground: #000000;
  --muted: #f4f4f5;
  --muted-foreground: #52525b;
  --accent: #000000;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --destructive-foreground: #fafafa;
  --border: #000000;
  --input: #e4e4e7;
  --ring: #2563eb;
  --radius: 1rem;
  
  --font-sans: 'Monument Extended', sans-serif;
  --font-mono: 'DM Mono', monospace;
  --font-heading: 'Monument Extended', sans-serif;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --card: #000000;
  --card-foreground: #ffffff;
  --popover: #000000;
  --popover-foreground: #ffffff;
  --primary: #c8f135;
  --primary-foreground: #000000;
  --secondary: #18181b;
  --secondary-foreground: #ffffff;
  --muted: #18181b;
  --muted-foreground: #a1a1aa;
  --accent: #c8f135;
  --accent-foreground: #000000;
  --destructive: #7f1d1d;
  --destructive-foreground: #ffffff;
  --border: #27272a;
  --input: #27272a;
  --ring: #c8f135;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans uppercase tracking-tight;
  }
  h1, h2, h3, h4, h5, h6, .font-heading {
    @apply font-heading font-medium;
  }
  .font-mono {
    @apply font-mono italic;
  }
}